{% extends 'base.html' %}
{%  load bootstrap %}

{% block title %} Login {% endblock %}

{% block main %}

    <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{form|bootstrap}}
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    <a href="{% url 'password_reset' %}"> esqueci minha senha </a>

{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <span class="text-muted">Powered by Django 2.2</span>
    </div>
</footer>
{% endblock %}
