{% extends 'base.html' %}

{% block main %}
    <h2>Listagem de clientes</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">Idade</th>
          <th scope="col">Salario</th>
          <th scope="col">Editar</th>
        </tr>
      </thead>
        <tbody>
    {% for person in object_list %}
        <tr>
            <td>{{ person.id }}</td>
            <td>{{ person.first_name }}</td>
            <td>{{ person.last_name }}</td>
            <td>{{ person.age }}</td>
            <td>{{ person.salary }}</td>
            <td><a href="{% url 'person_update_cbv' person.id %}" >
                <i class="bi bi-pencil"></i></a></td>
            <td><a href="{% url 'person_delete_cbv' person.id %}">Excluir</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'person_create_cbv' %}">Novo cliente</a>
    <br><br>
    <p>Access time: {{ footer_message }}</p>
{% endblock %}
