{% extends 'base.html' %}

{% block title %} Gestão de clientes {% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <h2> Listagem de clientes </h2>
            <ul class="list-group">
                {% for person in persons %}
                    <li class="list-group-item">
                        <a href="{% url 'persons_update' person.id %}"  class="btn btn-primary">
                            {{ person.first_name }}</a>
                        <a href="{% url 'persons_delete' person.id %}"><i class="bi bi-trash" style="float: right">
                        </i></a>
                    </li>
                {% endfor %}
                </ul>
            <br>
            <a href="{% url 'persons_new' %}" class="btn btn-success">Novo cadastro</a>
        </div>
        <div class="col">
            {% if user.is_authenticated %}
                 <p>Ola {{ user.username }} <a href="{% url 'logout' %}" class="btn btn-secondary">Sair</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footer %}
<footer class="footer">
    <div class="container">
        <span class="text-muted">Powered by Django 2.2</span>
    </div>
</footer>
{% endblock %}
