<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Read and Update</title>
</head>
<body>
    <a href="{% url 'logout' %}">Sair</a>
    <ul>
        {% for person in persons %}

            <li>
                <a href="{% url 'persons_update' person.id %}">{{ person.first_name }}</a>
                <a href="{% url 'persons_delete' person.id %}">----------Deletar</a>

            </li>

        {% endfor %}
    </ul>
    <br><br>
    <a href="{% url 'persons_new' %}">Novo cadastro</a>
</body>
</html>